.element-box {
    border: 4px solid #000;
    border-radius: 10px;
    padding: 30px;
    width: 60vw;
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hint {
    cursor: pointer;
    border-bottom: 1px dotted #000;
    display: inline-block;
    margin: 5px 0;
}
.hint-text {
    display: none;
    font-size: 2rem;
}
.element-symbol {
    font-size: 8rem;
    font-weight: bold;
    cursor: pointer;
    display: none;  /* Initially hidden */
    margin: 20px 0;
}
.element-name {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}
.click {
    margin-top: 20px;
    font-size: 1.5rem;
    padding: 10px 20px;
}
#message {
    margin-top: 30px;
    font-size: 2rem;
    font-weight: bold;
}